SUBSYSTEM=="tty", ATTRS{idVendor}=="1fc9",ATTRS{idProduct}=="2009",ATTRS{serial}=="F500000053C87D085334000018181836",SYMLINK+="ttyANCHOR1"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1fc9",ATTRS{idProduct}=="2009",ATTRS{serial}=="F500000053C87D995334000018181436",SYMLINK+="ttyANCHOR2"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1fc9",ATTRS{idProduct}=="2009",ATTRS{serial}=="F500000253C8858A5334000018182636",SYMLINK+="ttyANCHOR3"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1fc9",ATTRS{idProduct}=="2009",ATTRS{serial}=="F500000453C887FB5334000018182936",SYMLINK+="ttyANCHOR4"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1fc9",ATTRS{idProduct}=="2009",ATTRS{serial}=="F500000053C864A0533400001616202E",SYMLINK+="ttyANCHOR5"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1fc9",ATTRS{idProduct}=="2009",ATTRS{serial}=="F500000253C87A865334000018181A36",SYMLINK+="ttyANCHOR6"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1fc9",ATTRS{idProduct}=="2009",ATTRS{serial}=="F500000553C88AD65334000018183236",SYMLINK+="ttyANCHOR7"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1fc9",ATTRS{idProduct}=="2009",ATTRS{serial}=="F500000253C879E95334000018181E36",SYMLINK+="ttyANCHOR8"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1fc9",ATTRS{idProduct}=="2009",ATTRS{serial}=="F500000753C887FB5334000018182C36",SYMLINK+="ttySYNC1"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1fc9",ATTRS{idProduct}=="2009",ATTRS{serial}=="F500000153C87D085334000018181736",SYMLINK+="ttySYNC2"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1fc9",ATTRS{idProduct}=="2009",ATTRS{serial}=="F50000005344D650533300000B0B1009",SYMLINK+="ttyTAG1"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1fc9",ATTRS{idProduct}=="2009",ATTRS{serial}=="F50000035344DE43533300000B0B2909",SYMLINK+="ttyTAG2"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1fc9",ATTRS{idProduct}=="2009",ATTRS{serial}=="F50000035344DE37533300000B0B2907",SYMLINK+="ttyTAG3"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1fc9",ATTRS{idProduct}=="2009",ATTRS{serial}=="F50000065344E0F4533300000B0B2F09",SYMLINK+="ttyTAG4"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1fc9",ATTRS{idProduct}=="2009",ATTRS{serial}=="F50000005344DB2C533300000B0B2408",SYMLINK+="ttyTAG5"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1fc9",ATTRS{idProduct}=="2009",ATTRS{serial}=="F50000075344DDEF533300000B0B2809",SYMLINK+="ttyTAG6"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1fc9",ATTRS{idProduct}=="2009",ATTRS{serial}=="F50000075344D35D533300000B0B1809",SYMLINK+="ttyTAG7"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1fc9",ATTRS{idProduct}=="2009",ATTRS{serial}=="F50000035344AD665333000009092122",SYMLINK+="ttyTAG8"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1fc9",ATTRS{idProduct}=="2009",ATTRS{serial}=="F50000025036D7F553590C3A0F0F1A22",SYMLINK+="ttyWHITE1"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1fc9",ATTRS{idProduct}=="2009",ATTRS{serial}=="F50000065344BD61533300000A0A0F14",SYMLINK+="ttyWHITE2"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1fc9",ATTRS{idProduct}=="2009",ATTRS{serial}=="F50000055344C884533300000A0A3220",SYMLINK+="ttyWHITE3"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1fc9",ATTRS{idProduct}=="2009",ATTRS{serial}=="F50000065344BF8E533300000A0A0714",SYMLINK+="ttyWHITE4"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1fc9",ATTRS{idProduct}=="2009",ATTRS{serial}=="F50000035036D7F553590C3A0F0F1922",SYMLINK+="ttyWHITE5"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1fc9",ATTRS{idProduct}=="2009",ATTRS{serial}=="F50000075344DB20533300000B0B2407",SYMLINK+="ttyBLACK1"